{% extends 'base.html.twig' %}

{% block title %}New Customer{% endblock %}

{% block body %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <h1>Create new Customer</h1>

    {{ include('customer/_form.html.twig') }}

    <a class="btn btn-dark mt-1" href="{{ path('app_customer_index') }}">Back to list</a>
{% endblock %}
